version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    groups:
      security-updates:
        applies-to: security-updates
        patterns:
          - "*"

    labels:
      - "dependencies"
      - "security"
